<%= link_to "Create new Post", new_community_post_path(@community), class: "btn btn-primary float-right" %>

<h3><%= @community.name %></h3>

 <%= render "posts/list", posts: @posts %>

<small>
    <p><%= simple_format @community.rules %></p>
</small>
